alembic 
blinker 
Bottleneck 
Brotli 
certifi 
charset-normalizer 
click 
Flask 
Flask-Cors 
Flask-Migrate 
Flask-SQLAlchemy 
greenlet 
gunicorn 
idna 
itsdangerous 
Jinja2 
Mako 
MarkupSafe 
numexpr 
numpy 
packaging 
pandas 
psycopg2 
PySocks 
python-dateutil 
pytz 
requests 
six 
SQLAlchemy 
typing_extensions 
tzdata 
urllib3 
Werkzeug 
